<template lang="pug">
    .examples-page
        div.column
            label(for="function") с prop функцией
            auto-complete-field(
                :get-suggestions="getSimpleSuggestions"
                v-model="fieldModel1"
                placeholder="начните вводить \"де...\""
                id="function"
            )
        div.column
            label(for="options") с prop options
            auto-complete-field(
                :options="testOptions"
                v-model="fieldModel2"
                @user-input="onUserInput($event)"
                placeholder="начните вводить \"де...\""
                id="options"
            )
        div.column
            label(for="optionsAndFunction") с options и функцией
            auto-complete-field(
                :get-suggestions="getSimpleSuggestions"
                :options="testOptions"
                v-model="fieldModel3"
                @user-input="onUserInput($event)"
                placeholder="начните вводить \"де...\""
                id="optionsAndFunction"
            )
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import data from '@/data'
import AutoCompleteField from '@/AutoCompleteField.vue'

@Component({
  components: { AutoCompleteField },
})
export default class App extends Vue {
    fieldModel1 = '';
    fieldModel2 = '';
    fieldModel3 = '';
    testOptions: string[] = [];

    getSimpleSuggestions(value?: string): Promise<string[]> {
        return new Promise((resolve) => {
            if (!value) return [];
            window.setTimeout(function () {
                const filtered = data.filter(o => o.toLowerCase().indexOf(value.toLowerCase()) > -1);
                resolve(filtered);
            }, Math.random() * 500);
        });
    }

    onUserInput(value?: string): void {
        if (!value) {
            this.testOptions = [];
            return;
        }
        window.setTimeout(() => {
            this.testOptions = data.filter(o => o.toLowerCase().indexOf(value.toLowerCase()) > -1);
        }, Math.random() * 500);
    }
}
</script>

<style lang="stylus">
    html, body
        min-height 100vh
        margin 0
        box-sizing content-box
        font-family Helvetica
        font-size 16px

    .examples-page
        display flex
        flex-direction row
        .column
            width 25%
</style>
