<template lang="pug">
    .auto-complete(v-click-outside="() => opened = false")
        input.auto-complete__input(
            autocomplete="off"
            :disabled="disabled"
            v-bind="$attrs"
            :value="inputModel"
            @input="handleUserInput($event.target.value)"
            @keyup="onKeyUp($event)"
            @focus="onInputFocus()"
        )
        .auto-complete-results(v-if="opened")
            template(v-for="(option, key) in normalizedOptions")
                .auto-complete-results__item(
                    :class="key === activeItem ? 'active' : ''"
                    @click="selectValue(option)"
                ) {{ option.name }}
            .auto-complete__no-results(v-if="inputModel && normalizedOptions.length === 0 && value")
                slot(name="no-results") Нет результатов
</template>

<script lang="ts">
import { Vue, Component, Prop, Watch } from 'vue-property-decorator'
import debounce from 'lodash/debounce'
import ClickOutside from '@/directives/click-outside'

export interface IOptionItem {
    value: string | number;
    name: string;
}

export type GetSuggestions = (search: string | number) => Promise<IOptionItem[] | any[]>;

@Component({
    directives: { ClickOutside },
    inheritAttrs: false,
})
export default class AutoCompleteField extends Vue {
    @Prop({ type: [String, Number] }) readonly value?: string | number;
    @Prop({ type: Function }) readonly getSuggestions?: GetSuggestions;
    @Prop({ type: Array }) readonly options?: IOptionItem[] | any[];
    @Prop({ type: Boolean, default: false }) readonly disabled!: boolean;

    localOptions: IOptionItem[] | null = null;
    inputModel: string | number | null = null;
    opened: boolean = false;
    activeItem: number | null = null;
    incompatibleOptions = false;

    get normalizedOptions(): IOptionItem[] {
        const opts = this.options || this.localOptions;

        if (!opts || opts.length === 0) return [];
        if (typeof opts[0] === 'string' || typeof opts[0] === 'number') return opts.map(o => ({
            value: o,
            name: o,
        }));
        return opts.map(o => ({
            value: o.value || o.id || '',
            name: o.name.toString() || o.title.toString() || o.label.toString() || '',
        }));
    }

    onKeyUp(e: KeyboardEvent): void {
        if (!this.normalizedOptions || this.normalizedOptions.length === 0) return;

        switch (e.keyCode) {
            case 40: // arrow down
                if (typeof this.activeItem === 'number') {
                    if (this.activeItem === this.normalizedOptions.length -1) this.activeItem = 0;
                    else this.activeItem++;
                }
                else {
                    this.activeItem = 0;
                }
                break;

            case 38: // arrow up
                if (typeof this.activeItem === 'number') {
                    if (this.activeItem === 0) this.activeItem = this.normalizedOptions.length - 1;
                    else this.activeItem--;
                }
                else this.activeItem = this.normalizedOptions.length - 1;
                break;

            case 13: // enter
                if (typeof this.activeItem === 'number') this.selectValue(this.normalizedOptions[this.activeItem]);
                break;
        }
    }

    selectValue(option: IOptionItem): void {
        this.$emit('change', option.value);
        this.$emit('input', option.value);
        this.opened = false;
        this.activeItem = null;
    }

    onInputFocus() {
        if (this.inputModel) this.opened = true;
    }

    getSuggestionsDebounced(value?: string | number) {
        this.inputModel = value || null;
        debounce(async (): Promise<void> => {
            if (!this.getSuggestions) return;

            if (value) {
                this.localOptions = await this.getSuggestions(value);
                this.opened = true;
            }
            else this.opened = false;
        }, 300)();
    }

    handleUserInput(value?: string) {
        this.opened = true;
        this.getSuggestionsDebounced(value);
        this.$emit('user-input', value);
    }

    @Watch('value', { immediate: true })
    onValueChange(value?:  string | number, prevValue?:  string | number) {
        if (value !== prevValue) this.inputModel = value ? value : null;
    }

    @Watch('options', { immediate: true })
    onOptionsChange(options?:  string[] | number[]) {
        if (options && options.length) this.opened = true;
    }

    @Watch('normalizedOptions', { immediate: true })
    onNormalizedOptionsChange() {
        if (this.options && this.options.length && this.localOptions && this.localOptions.length && !this.incompatibleOptions) {
            this.incompatibleOptions = true;
            throw new Error('[autocomplete] props "options" and "getSuggestions" can not be used together! Further options are used');
        }
    }
}
</script>

<style lang="stylus">
    .auto-complete
        position relative
        display block
        font-size 16px

        &__input
            display block
            padding .5rem
            font-size 16px
        &-results
            position absolute
            top 100%
            left 0
            right 0
            &__item
                padding .25rem .5rem
                cursor pointer
                transition background .2s
                &.active
                &:hover
                    background #ededed
</style>
